//font-family: 'Roboto Mono', monospace;
// font-family: 'Montserrat', sans-serif;
body {
  background-color: whitesmoke;
}
h1 {
  color: blueviolet;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-align: center;
}

h2 {
  color: rgb(188, 145, 228);
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: blueviolet;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.svg-graphic {
  width: 200px;
  height: 200px;
}


// LAYOUT STYLE
#content-Con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cancer-Con {
  margin-right: 20px;
  padding: 5px;
}

button {
  margin: auto;
}


.see-more { 
  display: block; 
  padding: 12px 18px; 
  color: black; 
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  background-color:plum; 
  margin-top: 8px;
}

/* POPOVER STYLES */

.popover { 
  background-color: white;
  border: 3px solid plum; 
  display: none;
  margin-top: 25px;
  //position: absolute;
  // position: relative;
  width: 400px;
  height:260px;
  padding: 4px;
  z-index: 1;
}

.show-popover { display: inline-block; }

.description {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: mediumvioletred;
}

.incidence-men, .death-men {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: purple;
}

.incidence-women, .death-women {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: rgb(156, 12, 91);
}