//font-family: 'Roboto Mono', monospace;
// font-family: 'Montserrat', sans-serif;
@import '_vars';

/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }


/*switch box model*/
html {
  box-sizing: border-box;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic;
}

body {
  background-color: whitesmoke;
}
h1 {
  color: $color-one;
  font-family: $font-one;
  font-size: 2.5em;
  text-align: center;
}

h2 {
  color: $color-two;
  font-family: $font-two; 
  font-size: 2em;
  text-align: center;
}

h3 {
  color: $color-one;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.svg-graphic {
  width: 200px;
  height: 200px;
}

#lung:hover {
  transform: scale(.75);
  transition-duration: 2s;
  opacity: 0.5;
}


// LAYOUT STYLE
#content-Con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cancer-Con {
  margin-right: 20px;
  padding: 5px;
}

button {
  margin: auto;
}


.see-more { 
  display: block; 
  padding: 12px 18px; 
  color: black; 
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  background-color:plum; 
  margin-top: 8px;
}

/* POPOVER STYLES */

.popover { 
  background-color: white;
  border: 3px solid plum; 
  display: none;
  margin-top: 25px;
  //position: absolute;
  // position: relative;
  width: 400px;
  height:260px;
  padding: 4px;
  z-index: 1;
}

.show-popover { display: inline-block; }

.description {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: mediumvioletred;
}

.incidence-men, .death-men {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: purple;
}

.incidence-women, .death-women {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: rgb(156, 12, 91);
}